header{
	height:100px ;
	background-color: blue;
	font-style: italic;
}

.box{
	overflow: hidden;
}

.blog{
	
	width: 65%;

	height:100%;
	background-color: lightpink;
	float: left;

}

.contact{
	width: 30%;
	height:100% ;
	background-color: green;
	font-style: italic;
	float: right;


}

.footer{
	clear:both ;
	height: 100%;
	background-color: skyblue;
}